
STRINGS
DEFINITION: a string is a series of characters inside "" or '' quotes.

In [1]:

"this is a string."
'this is also a string.'

'this is also a string.'

In [2]:

z = 1
name = "cloud education"
print(z)
print(name)

1
cloud education

In [3]:

x = "GIS"
print(x)

GIS

In [4]:

x = "Python"
y = "Remote Sensing"
z = "GIS"
print(x, y, z)

Python Remote Sensing GIS

In [5]:
x = 42# Here, we assign an integer value to the variable.
print(x)

x = "Remote Sensing" # Now, we reassign a string to the same variable.
print(x)

42
Remote Sensing

In [6]:
x, y, z = "One", "Two", "Three"
print(x)
print(y)
print(z)

One
Two
Three

In [7]:

# Chained assignment: Assigning the value 20 to variables x, y, and z simultaneously
x = y = z = 20

# Printing the values of x, y, and z
print(x, y, z)

20 20 20

In [12]:
# Convert to string
xa = str(3)  # x will be '3'

# Convert to integer
ya = int(3)  # y will be 3

# Convert to float
za = float(3)  # z will be 3.0

print(xa)
print(ya)
print(za)
print(type(xa))
print(type(ya))
print(type(za))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

In [16]:
# this is the way we can create variable 
myvar = "BEEILAB"
my_var = "BEEILAB"
_my_var = "BEEILAB"
myVar = "BEEILAB"
MYVAR = "BEEILAB"
myvar2 = "BEEILAB"

In [17]:

2myvar = "BEEILAB"    # Starts with a number
my-var = "BEEILAB"    # Contains invalid character "-"
my var = "BEEILAB"    # Contains invalid character " "

SyntaxError: invalid decimal literal (412395735.py, line 1)